
.menu {
	float: left;
	width: 180px;
	height: 80vh;				
	text-align:center;
	padding: 15px;
	border-right: 1px solid #333;
	
}

.controls{
	height: 140px;
}
.chessboard {
	width: 640px;
	height: 640px;
	margin-left: 230px;
	margin-top: 20px;
	border: 25px solid #333;
}
.black {
	float: left;
	width: 80px;
	height: 80px;
	background-color: #aaa;
	  font-size:50px;
	text-align:center;
	display: table-cell;
	vertical-align:middle;
	
}
.white {
	float: left;
	width: 80px;
	height: 80px;
	background-color: #fff;
	font-size:50px;
	text-align:center;
	display: table-cell;
	vertical-align:middle;
	
}

.populated:hover {
  background-color: lightblue;
  cursor: pointer;
}

.activePiece:hover {
	background-color:lightgreen;
	cursor: pointer;
  }